body {
	background: #8f8f8f;
}

input{
	border: none;
	cursor: pointer;
}

.start{
	background: #237502;
}

.stop{
	background: #ff0000;
}

.calculate{
	background: #ff9999;
	color: darkblue;

}

ul li {
	list-style-type: circle;
	background: #ff9999;
	color: darkblue;
}

.div {
	margin: auto;
	text-align: center;
	width: 70%;
	vertical-align: middle;
	display: block;
}

.one {
	display: inline-block;
}