{% extends "base.html" %}

{% block tytul %}Wybierz plik{% endblock %}

{% block content %}


{#    <form action="/practice/kakao_reader/" method="post" enctype="multipart/form-data">#}
    <div class="justify-content-center form-group  m-auto align-items-center d-flex h-100">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p> Wybierz plik do wczytania: </p>
            <input type="file" name="myfile"/>
            <button class="btn btn-dark m-3" type="submit">Wprowadź</button>
            <button class="btn btn-dark m-3" type="reset">Resetuj</button>
        </form>
    </div>

{% endblock %}