{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>START/STOP</title>
    <link rel="stylesheet" href="{% static 'start.css' %}">
</head>
<body>

    <form action="#" method="get">
        <input type="submit" class="start" value="start" name="start">
        <input type="submit" class="stop" value="stop" name="stop">
    </form>
{#    <button class="start" onclick="startFc()">Start</button>#}
{#    <button class="stop" onclick="StopFc()">STOP</button>#}
{##}
{#    <script>#}
{#    function StartFc() {#}
{##}
{#    }#}
{#    function StopFc() {#}
{##}
{#    }#}
{#    </script>#}

</body>
</html>