{% extends "base.html" %}

{% block tytul %}Start Stop{% endblock %}

{% block content %}

    <div class = "justify-content-center form-group m-auto align-items-center d-flex h-100">
        <div class="btn-group btn-group-lg">
{#            <form action="#" method="get">#}
            <form action="" method="post">
                <button class="btn btn-dark me-5" name="start" value="start">START</button>
                <button class="btn btn-dark me-5" name="stop" value="stop">STOP</button>
{#                <input type="submit" class="btn btn-dark me-5" value="start" name="start">#}
{#                <input type="submit" class="btn btn-dark ms-5" value="stop" name="stop">#}
            </form>
        </div>
    </div>
{#    <button class="start" onclick="startFc()">Start</button>#}
{#    <button class="stop" onclick="StopFc()">STOP</button>#}
{##}
{#    <script>#}
{#    function StartFc() {#}
{##}
{#    }#}
{#    function StopFc() {#}
{##}
{#    }#}
{#    </script>#}

{% endblock %}